.add-new-developer{
    
 
}

.new-developer-form{
    width:480px;
    margin: 0 auto;
}

 

 
 
 

.new-developer-form {
    padding: 2rem;
    border-radius: 4px;
  background-color: #0f172a;
  color:#e5e5e5;
  h3{
    text-align: center;
    font-size:var(--font-size-6);
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: var(--size-8)
  }
}
// Form Control Defaults
.control{
    display:flex;
    flex-direction: column;
    flex:1;
    margin-bottom: 1.25rem;
}
 
.control input{
    background-color: #2d394a;
    border:none;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #f9fafb6d;
    color:#f9fafb;
    padding:var(--size-1) var(--size-2);
}
.control label, .radio-control label, .what-type-of-developer h2 {
    font-size: 14px;
    padding-left:0.2rem;
    padding-bottom:0.25rem;
    color:#f9fafb;
}
.submit-new-developer-data {
    text-align: center;
    button{
        border:none;
        border-radius: 4px;
        background-color:#2563eb;  
        color:#e5e5e5;
        font-size:1.125rem;
        margin: 1rem 0 2rem;
        padding: 0.5rem 1.5rem;
    }
}
 
.control input::placeholder{
    color:#9a9c9d;  
}

// control layouts
.double-control, .double-control-single-line{
    display:flex;  
    gap:1.5rem;
}
 
 
 
// what type of developer
.what-type-of-developer{
    margin: 2rem 0;
    text-align: center;
    h2{
        margin-bottom:0.25rem;
    }
}
.developer-type{
    display:flex;
    justify-content: space-evenly;
    
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #f9fafb6d;
    background-color: #2d394a;
    padding:0.75rem 0;
   
}
.radio-control {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.25rem;

}
.radio-control label{
    font-size: 12px;
}
 
 