main{
 
    display:grid;
    grid-template-columns: 400px 1fr;
    min-height: 100vh;

}
 
.get-request{
    padding: var(--size-3);
    box-shadow: var(--shadow-4);
}

.task{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-6);
    margin-bottom: var(--size-2);
}

.route{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
 
    
}
.route-path{
    display:block;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
    color: var(--indigo-7);
    margin-bottom: var(--size-6);
    
}
 

.show-developers{
    margin: var(--size-6) 0 0;
    white-space: nowrap;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
    padding-inline: var(--size-3);
    padding-block: var(--size-2);
    color: var(--indigo-9);
    border: var(--border-size-2) solid var(--indigo-7);
    background-color: transparent;
    border-radius: var(--radius-2);
}

