 

    .developer-footer {
        text-align: center;
        margin-bottom: 3rem;
       button{
        border-radius: 4px;
        padding:0.65rem 1rem;
        border:none;
       }
        .full-stack-button{
            background-color: #4d7c0f; 
            color:#ecfccb;
        }
        .back-end-button{
            background-color: #1d4ed8;
            color: #dbeafe;
        }
        .front-end-button{
            background-color: #b91c1c;
            color: #fee2e2;
        }
    }

 