.developer-list{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1.5rem;
 
}
.developer{     
    box-shadow: var(--shadow-4);  
    height: inherit;
}

.remove-dev{
   

    svg{
        height: 24px;
        fill:gray;
    };
}

.developer header{  
      text-align: center;     
      padding: 1.5rem 0;
      border-bottom: 1px solid var(--gray-2);;
       
        h2{
         
            font-size: var(--font-size-4);
            letter-spacing: -1px;
            font-weight: var(--font-weight-5);
        }
        p{
            font-size:var(--font-size-1);
            font-weight: var(--font-weight-3);
           
        }
}
.avatar{
    max-height: 124px;
   
    img{        
        aspect-ratio: 1/1;
        width: 124px;
        height: 124px;
        border-radius: 50%;
        padding-top:1rem;
        border: 4px solid rgb(255, 255, 255);
        background-color: var(--pink-2);
        box-shadow: 0 0 0px 2px var(--pink-9);
        
    }
}
.full-stack{
    background-color:#84cc16;
    color:#ecfccb;
    img{
        background-color: #ecfccb;
        box-shadow: 0 0 0px 5px #3f6212;
    } 
}
.back-end{
    background-color: #3b82f6;
    color:#dbeafe;
   
    img{
        background-color: #dbeafe; 
        box-shadow: 0 0 0px 5px #1e40af;
    } 
}

.front-end{
    background-color:#ef4444;
    color:#fee2e2;
    img{
        background-color: #fee2e2;
        box-shadow: 0 0 0px 5px #991b1b;
    }
}



.developer-details{
   
    padding:3.5rem 2.5rem;
    color:var(--gray-9);
    font-size: 13px;
    font-weight: var(--font-weight-6);
   
    
    span{
        font-weight: var(--font-weight-3);
    }
    
    li{
        margin-bottom: var(--size-1);
    }
     
}
 

 
 