 

    aside.developer-delete{
        width:380px;
        margin: 0 auto;
    }
    
    .developer-footer {
        text-align: center;
  
       button{
        border-radius: 4px;
        padding:0.65rem 1rem;
        border:none;

       }
        .full-stack-button, a.full-stack{
            background-color: #4d7c0f; 
            color:#ecfccb;
        }
        .back-end-button, a.back-end{
            background-color: #1d4ed8;
            color: #dbeafe;
        }
        .front-end-button, a.front-end{
            background-color: #b91c1c;
            color: #fee2e2;
        }
    }

 