:root {
  --write:#ef4444;
  --read:#d946ef;
  --update:#84cc16;
  --delete: #3b82f6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  border: none;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/*! Mini Reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
address,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table td,
table th {
  padding: 0;
  text-align: left;
}

/* 
   CRUD LIST STYLES
*/
.crud-operations {
  margin: 8rem 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.crud-operations a {
  padding: 1.5rem 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
  font-size: var(--font-size-4);
  text-decoration: none;
}

.crud-operations svg {
  width: 124px;
  fill: rgba(255, 255, 255, 0.3);
}

.read {
  background-color: var(--read);
  transition: background-color 300ms;
}

.read:hover {
  transition: background-color 300ms;
  background-color: #b91c1c;
}

.create {
  background-color: var(--write);
  transition: background-color 300ms;
}

.create:hover {
  background-color: #65a30d;
  transition: background-color 300ms;
}

.update {
  background-color: var(--update);
  transition: background-color 300ms;
}

.update:hover {
  transition: background-color 300ms;
  background-color: #2563eb;
}

.delete {
  transition: background-color 300ms;
  background-color: var(--delete);
}

.delete:hover {
  transition: background-color 300ms;
  background-color: #c026d3;
}

.appbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
  align-items: center;
  padding: var(--size-3) var(--size-6);
  box-shadow: var(--shadow-3);
  z-index: 4;
}
.appbar figure {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.appbar h2 {
  font-weight: 600;
  color: var(--gray-7);
  font-size: var(--font-size-1);
}

.appbar svg {
  height: 1.5rem;
  max-height: 96px;
  fill: var(--gray-7);
  stroke: var(--gray-7);
}

.appbar a {
  text-decoration: none;
  color: #495057;
}

.pages {
  margin-left: auto;
  margin-right: auto;
}

.pages, .github {
  display: flex;
  gap: 3rem;
}
.pages li, .github li {
  font-weight: 600;
}

.github {
  justify-content: flex-end;
  width: 160px;
  text-align: right;
  gap: 0.25rem;
}

.developers {
  min-height: 100vh;
}

.developer-filters {
  display: none;
}

.developer-results {
  background-color: #f8fafc;
  width: 100%;
  min-height: 100vh;
}

.page-header {
  text-align: center;
  padding: 4rem 0;
  color: #1e293b;
}
.page-header h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
}
.page-header p {
  font-size: 1.25rem;
  color: #475569;
}

.developer-filters {
  padding: var(--size-5);
  box-shadow: var(--shadow-3);
}
.developer-filters h2 {
  font-size: var(--font-size-4);
}

.developer-results {
  padding: var(--size-5);
  box-shadow: var(--shadow-3);
}
.developer-results h2 {
  font-size: var(--font-size-4);
}

.developer-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.developer {
  box-shadow: var(--shadow-6);
  border-radius: 6px;
  width: 320px;
}

.editor-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem;
}
.editor-controls svg {
  border-radius: 50%;
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.developer header {
  text-align: center;
  padding: 2rem 0 1rem;
}
.developer header h2 {
  font-size: 28px;
  letter-spacing: -1px;
  font-weight: var(--font-weight-7);
  margin-bottom: -2px;
  margin-top: 1rem;
}

.avatar img {
  aspect-ratio: 1/1;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  background-color: var(--pink-2);
  box-shadow: 0 0 0px 2px var(--pink-9);
}

.developer-id-number {
  margin-right: auto;
  font-size: 13px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  width: fit-content;
  margin: 1rem auto;
}

.full-stack {
  background-color: #84cc16;
  color: #ecfccb;
}
.full-stack img {
  background-color: #ecfccb;
  box-shadow: 0 0 0px 5px #3f6212;
}
.full-stack .developer-id-number {
  background-color: #4d7c0f;
}
.full-stack svg {
  fill: #365314;
  box-shadow: 0 0 2px 1px #365314;
}
.full-stack svg:hover {
  background-color: rgba(255, 255, 255, 0.4392156863);
}

.back-end {
  background-color: #3b82f6;
  color: #dbeafe;
}
.back-end img {
  background-color: #dbeafe;
  box-shadow: 0 0 0px 5px #1e40af;
}
.back-end .developer-id-number {
  background-color: #1d4ed8;
}
.back-end svg {
  fill: #1e3a8a;
  box-shadow: 0 0 2px 1px #1e3a8a;
}
.back-end svg:hover {
  background-color: rgba(255, 255, 255, 0.4392156863);
}

.front-end {
  background-color: #ef4444;
  color: #fee2e2;
}
.front-end img {
  background-color: #fee2e2;
  box-shadow: 0 0 0px 5px #991b1b;
}
.front-end .developer-id-number {
  background-color: #b91c1c;
}
.front-end svg {
  fill: #7f1d1d;
  box-shadow: 0 0 2px 1px #7f1d1d;
}
.front-end svg:hover {
  background-color: rgba(255, 255, 255, 0.4392156863);
}

.developer-details {
  width: fit-content;
  margin: 3rem auto;
  font-size: 15px;
  font-weight: 600;
}
.developer-details span {
  font-size: 14px;
  font-weight: 400;
  color: #374151;
}
.developer-details li {
  margin-bottom: 0.125rem;
}

.query-filters {
  margin: 0 auto 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.query-control {
  order: 2;
}

.query-control label {
  margin: 0;
  font-size: var(--font-size-4);
}

.query-control input {
  width: 100%;
  border: none;
  padding: 1rem;
  box-shadow: var(--shadow-4);
}

.query-options {
  order: 1;
}

.query-option span {
  display: block;
  font-size: var(--font-size-0);
  color: var(--indigo-2);
}

.query-button {
  display: block;
  width: 100%;
  background-color: var(--indigo-5);
  color: var(--indigo-1);
  padding: var(--size-2) var(--size-4);
  border: none;
  border-radius: 3px;
  box-shadow: var(--shadow-4);
  font-size: var(--font-size-4);
  margin: 1rem 0;
}

.new-developer-form {
  width: 480px;
  margin: 0 auto;
}

.new-developer-form {
  padding: 2rem;
  border-radius: 4px;
  background-color: #0f172a;
  color: #e5e5e5;
}
.new-developer-form h3 {
  text-align: center;
  font-size: var(--font-size-6);
  letter-spacing: -1px;
  font-weight: 500;
  margin-bottom: var(--size-8);
}

.control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1.25rem;
}

.control input {
  background-color: #2d394a;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(249, 250, 251, 0.4274509804);
  color: #f9fafb;
  padding: var(--size-1) var(--size-2);
}

.control label, .radio-control label, .what-type-of-developer h2 {
  font-size: 14px;
  padding-left: 0.2rem;
  padding-bottom: 0.25rem;
  color: #f9fafb;
}

.submit-new-developer-data {
  text-align: center;
}
.submit-new-developer-data button {
  border: none;
  border-radius: 4px;
  background-color: #2563eb;
  color: #e5e5e5;
  font-size: 1.125rem;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1.5rem;
}

.control input::placeholder {
  color: #9a9c9d;
}

.double-control, .double-control-single-line {
  display: flex;
  gap: 1.5rem;
}

.what-type-of-developer {
  margin: 2rem 0;
  text-align: center;
}
.what-type-of-developer h2 {
  margin-bottom: 0.25rem;
}

.developer-type {
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(249, 250, 251, 0.4274509804);
  background-color: #2d394a;
  padding: 0.75rem 0;
}

.radio-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.radio-control label {
  font-size: 12px;
}

.developer-footer {
  text-align: center;
  margin-bottom: 3rem;
}
.developer-footer button {
  border-radius: 4px;
  padding: 0.65rem 1rem;
  border: none;
}
.developer-footer .full-stack-button {
  background-color: #4d7c0f;
  color: #ecfccb;
}
.developer-footer .back-end-button {
  background-color: #1d4ed8;
  color: #dbeafe;
}
.developer-footer .front-end-button {
  background-color: #b91c1c;
  color: #fee2e2;
}

/*# sourceMappingURL=index.css.map */
